{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"plugin:react/recommended",
		"plugin:import/recommended",
		"plugin:react-hooks/recommended",
		"plugin:prettier/recommended",
		"eslint:recommended"
	],
	"plugins": [],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"react/react-in-jsx-scope": "off",
		"import/no-unresolved": "off",
		"no-useless-escape": "off",
		"react/prop-types": "off",
		"no-unused-vars": "off",
		"no-undef": "off"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
